// Normally mainpage styles
h1
	color: white
	font-family: Ubuntu
	font-size: 40px
	font-weight: 400
	line-height: 1
a
	text-decoration: none
	+tr(all 0.4s)
p
	color: #333
	font-size: 18px
	font-weight: 300
	line-height: 30px
	font-family: "Ubuntu", sans-serif
img
	max-width: 100%
	height: auto
//social
.social
	font-size: 0
	text-align: center
	a
		+tr(all 0.4s)
		width: 60px
		height: 60px
		border-radius: 50%
		background-color: $gray
		display: inline-block
		position: relative
		color: #fff
		font-size: 35px
		margin: 50px 14px 0
		&:hover:first-child
			background-color: #3D5B99
		&:hover:last-child
			background-color: #1B95E0
		i 
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			display: block
			z-index: 10
//social-btn
.social-btn
	max-width: 552px
	position: relative
	margin: 51px auto 30px

	&__wrp
		margin: 0 -4px
		font-size: 0
	&__col
		display: inline-block
		vertical-align: top
		width: 272px
		margin: 0 4px
		+r(600)
			display: block
			margin: auto
		+r(350)
			width: 260px
	a 
		height: 46px
		line-height: 44px
		position: relative
		display: block
		margin-bottom: 10px
		&:hover
			opacity: 0.8
		&:active
			top: 1px
		span
			display: inline-block
			vertical-align: middle
			font: 300 18px/1 "Ubuntu", sans-serif
			color: #fff
		i 
			position: absolute
			top: 50%
			transform: translateY(-50%)
			left: 31px
			margin: auto
			z-index: 100
			font-size: 25px
			color: white
	&__fb
		background-color: #3b5998
	&__tw
		background-color: #1dadeb

//arrows
.arrows
	display: block
	.arrow
		display: inline-block
		position: absolute
		top: 0
		bottom: 0
		margin: auto
		&:hover
			+scale(1.4)
		&-left
			left: 35px
			+s(arr-left)
		&-right
			right: 35px
			+s(arr-right)
//progress
.progress
	position: relative
	height: 7px
	background-color: $gray
	&__line
		position: absolute
		top: 0
		bottom: 0
		left: 0